.root {
  color: #444;
  text-align: center;
  padding: 10px 10px 0;
}

.content {
  position: relative;
}

.title {
  font-size: 24px;
  margin: 30px 0 10px;
  padding: 11px;
  background-image: url('./logo.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
}

.subtitle {
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
}

.image {
  max-width: 100%;
}

.button {
  color: white;
  background: white;
  padding: 10px 15px;
  color: #444;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  /*box-shadow: 0 4px 5px #000;*/
}

.button:hover {
  /*box-shadow: 0 7px 8px #000;*/
}

.input {
  color: #444;
  border: 1px solid #ccc;
  border-right: 0 none;
  margin: 0;
  padding: 8px;
}

.input:focus {
  outline: none;
}

form {
  padding: 22px;
  display: flex;
  justify-content: center;
}

form button {
  color: white;
  border: 0 none;
  padding: 8px;
  /*margin-left: 4px;*/
  background-color: #2E76FF;
  /*box-shadow: 0 4px 5px #000;*/
}

form button:hover {
  /*box-shadow: 0 7px 8px #000;*/
}
