<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Bowser - Layered browsing</title>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ehifphmcdbhocdmdadjefoodhdapgnid">
  </head>
  <body>
    <main>
    </main>
  </body>
</html>
