
.root {
  position: relative;
  border: 1px solid #ccc;
  flex: 1 0 auto;
  background-color: white;
}

.root iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 0 none;
  border: 1px solid #C1C1C1;
  border-top: 0 none;
}
